
@{
    ViewData["Title"] = "O mnie";

}
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Szachowo">
    <title>Strona o mnie</title>
</head>
<body>

    <h2 align="center">Magnus Carlsen</h2>
    <p>
        Sven Magnus Øen Carlsen (ur. 30 listopada 1990 w Tønsbergu) – norweski szachista,
        arcymistrz od 2004. Aktualny mistrz świata w szachach.
    </p>

    <img src="C:\Users\Antek\source\repos\SzachoweCiekawostki\SzachoweCiekawostki\Views\Home\boy.jpg" style="display: block; margin: auto" />
    <p>
        Pierwsze szachowe turnieje rozegrał w roku 2001, szybko ściągając na siebie uwagę szachowych ekspertów. Dwa lata później posiadał już tytuł mistrza międzynarodowego, a w roku 2004 otrzymał tytuł arcymistrza, stając się drugim najmłodszym w historii zawodnikiem (po Siergieju Kariakinie), któremu nadano ten tytuł.

        Sukcesy i ważniejsze występy w kolejnych latach:

        2002 – II m. w mistrzostwach świata juniorów do 12 lat w Heraklionie,
        2003 – III m. w mistrzostwach Europy juniorów do lat 14 w Budvie,
        2004 – zwycięstwo w turnieju Corus C w Wijk aan Zee, srebrny medal w mistrzostwach Norwegii w Oslo, występ na mistrzostwach świata w Trypolisie (porażka w I rundzie z Lewonem Aronianem), trzykrotne wypełnienie norm arcymistrzowskich (pierwsza w Wijk aan Zee, kolejne w Moskwie i Dubaju), uzyskanie liczby Morphy’ego 5 wskutek partii z Wiktorem Korcznojem,
        2005 – I m. w mistrzostwach Norwegii w Molde, zwycięstwo w otwartym turnieju w Gausdal, X m. w Pucharze Świata w Chanty-Mansijsku i sukces w postaci awansu do meczów pretendentów,
        2006 – w styczniu po raz pierwszy przekroczył granicę 2600 punktów rankingowych, I-II m. w turnieju Corus B w Wijk aan Zee, I m. w silnie obsadzonym turnieju szachów szybkich w Reykjavíku (m.in. zwycięstwo 2-0 w półfinale z Viswanathanem Anandem), II m. w turnieju Midnight Sun w Tromsø, zdobycie tytułu mistrza Norwegii po pokonaniu w barażu Simena Agdesteina (3-1), zwycięstwo (wraz z Liviu-Dieterem Nisipeanu oraz Władimirem Małachowem) w turnieju Bosna w Sarajewie,
        2007 – w lipcu po raz pierwszy przekroczył granicę 2700 punktów rankingowych, II-III m. (wraz z Aleksandrem Moroziewiczem) w turnieju elity w Morelii i Linares[2], I m. w turnieju Classics 2007 w Gausdal[3], występ w rozegranych w Eliście meczach pretendentów (porażka w I rundzie z Lewonem Aronianem)[4], I m. w Biel Chess Festival (po pokonaniu w dogrywce Aleksandra Oniszczuka)[5],
        2008 – I-II m. (wspólnie z Lewonem Aronianem) w turnieju Corus A w Wijk aan Zee, II m. (za Viswanathanem Anandem) w Linares[6], dz. I m. (wspólnie z Wugarem Gaszimowem i Wang Yue) w I turnieju FIDE Grand Prix 2008/2009 w Baku[7], I m. w Foros (turniej Aerosvit-2008)[8], II-III m. (za Weselinem Topałowem, wspólnie z Lewonem Aronianem) w turnieju Final Chess Masters w Bilbao,
        2009 – I m. w León (po zwycięstwie w finale nad Wasilijem Iwanczukiem)[9], I m. w Nankinie (turniej elity Nanjing Pearl Spring Chess Tournament, z wynikiem 8/10 pkt i uzyskanym rankingiem 3002 pkt)[10], 1 listopada został piątym w historii szachistą, który przekroczył granicę 2800 punktów rankingowych, I m. w mistrzostwach świata w szachach błyskawicznych[11], I m. w turnieju London Chess Classic w Londynie[12], 
        jeśli chcesz dowiedzieć się więcej zapraszam na <a href="https://pl.wikipedia.org/wiki/Magnus_Carlsen#Kariera_szachowa">wikipedie</a>).
        
    </p>
</body>
</html>