@{
    ViewData["Title"] = "Strona Główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj w szachowych ciekawostkach</h1>

    <img src="C:\Users\Antek\source\repos\SzachoweCiekawostki\SzachoweCiekawostki\Views\Home\boy.jpg" />
    <p>Poczytaj więcej na <a href="https://szs.org.pl"> strona śląskiego związku szachowego</a>.</p>
</div>
