@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w szachowych ciekawostkach</h1>
    <p>Poczytaj więcej na <a href="https://szs.org.pl"> strona śląskiego związku szachowego</a>.</p>
</div>
